// 全局通用样式
.g-popup {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 320px;
  background: $color-background;
  color: $color-text;
  font-size: $font-size-medium-x;
  padding: 16px;
  box-sizing: border-box;

  &-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &-main {
    flex-grow: 1;
    overflow-y: auto;
  }

  &-footer {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    gap: 16px;

    .add-button {
      width: 80px;
      height: 32px;
      color: white;
      line-height: 32px;
      text-align: center;
      background: $primary-color;
      border-radius: 4px;
    }
  }
}

.g-relative {
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

// 模块通用样式
.m-header {
  display: flex;
  border: 1px solid $color-theme;
  border-radius: 4px;
  font-weight: bold;
  &__item {
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: $color-text;
    cursor: pointer;
  }
  .is-active {
    color: $color-theme;
  }
}

.m-table {
  font-size: $font-size-medium;
  &__item {
    display: flex;
    padding: 4px;

    &-index {
      margin-right: 4px;
    }
    &-name {
      width: 290px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-level {
      margin-right: 16px;
    }
    &-time {
      width: 80px;
      text-align: center;
    }
    &-op {
      display: flex;

      > div {
        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
}